/* *
{
  margin: 0%;
  padding: 0%;
} */

body
{
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: wheat;
}

.swiper-container
{
  width: 100%;
  padding-top: 10%;
  padding-bottom: 50px;
}

.swiper-slide
{
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 300px;
  background: #000;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0006);
}

.featuredGameImage
{
  width: 350px;
  height: 300px;
}